{% load static %}
<nav class="navbar navbar-expand-xl navbar-dark bg-dark container-fluid">
        <a href="{% url 'home' %}" class="navbar-brand mb-0 h1 text-uppercase">My Blog</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end">
           <div class="navbar-nav">
               <li class="nav-item"><a href="{% url 'all_posts' %}" class="nav-link text-uppercase font-weight-bold px-3">All posts</a></li>
               <li class="nav-item"><a href="{% url 'posts_home' %}" class="nav-link text-uppercase font-weight-bold px-3">My posts</a></li>
               <li class="nav-item"><a href="{% url 'create' %}" class="nav-link text-uppercase font-weight-bold px-3 navbarmain">Create post</a></li>
               <form class="navbar-form" action="" method=POST>
                   {% csrf_token %}
                </form>
                {% if request.user.is_authenticated and request.user.username %}
               <ul class="navbar-nav mr-auto px-1">
                    <li class="nav-item">
                        <span class="nav-link text-uppercase font-weight-bold px-3">
                            Hello, {{ request.user.username }}!
                        </span>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link text-uppercase font-weight-bold px-3">
                                 Logout
                        </a>
                    </li>
               {% else %}
                    <li class="nav-item me-2">
                        <a href="{% url 'signup' %}" class="nav-link text-uppercase font-weight-bold">
                            Signup
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link text-uppercase font-weight-bold px-3">
                             Login
                        </a>
                    </li>
               {% endif %}
               {% if item_count > 0 %}
                    <li class="nav-item">
                        <a href="{% url 'cart_detail' %}" class="nav-link text-uppercase font-weight-bold px-3">
                            <i class="material-icons cart-icon">shopping_cart</i>{{item_count}}
                        </a>
                    </li>
                </ul>
               {% endif %}
              </div>
           </div>
    </nav>